@import url(http://allfont.es/allfont.css?fonts=futura-bold);

body{
	 background-color: black;
}

.Fondo-Body{
	background-image: url(../img/Portada_Iron.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.SubTitulo{
	color: white;
	
}