@import url(http://allfont.es/allfont.css?fonts=futura-bold);

body{
	 background-color: black;
}

a:hover
{
	color: red;
}

.Fondo-Body{
	background-image: url(../img/Portada_Iron.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.SubTitulo{
	color: white;	
}

.Fondo-Carta{
	background-color: #38393a;
}

.Icono-Nav{
	width: 32px;
	height: 32px;
}

.Btn-Modal{
	height: 50px;
	width: 50px; }
	.Btn-Modal:focus{
		background-color: red;
	}

@media screen and (min-width: 412px) {
	.Btn-Carousel{
		width: 70px;
	}
}

@media screen and (min-width: 641px){
	.Linea-Vertical{
	background-color: red;
	width: 3px;
	}
}