@import url(http://allfont.es/allfont.css?fonts=futura-bold);

body{ background-color: black; }

.SubTitulo{	color: white;}

.MisDatos{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}